<div class="row" *ngIf="!medicine; else medicine_content">
    <h1>Cargando...</h1>
</div>

<ng-template #medicine_content>
    <main class="main">
        <h1 class="animated fadeIn">ACTUALIZAR MEDICINA</h1>
        <form (submit)="updateMedicine(name, category, type, company, price)">
            <div class="ipnt">
                <input type="text" #name class="form-control" [value]="medicine.name" required>
                <input type="text" #category class="form-control" [value]="medicine.category" required>
                <input type="text" #type class="form-control" [value]="medicine.type" required>
                <input type="text" #company class="form-control" [value]="medicine.company" required>
                <input type="number" #price class="form-control" [value]="medicine.price" required>
            </div>

            <div class="img">
                <img [src]="imagePath + medicine.imgURL" alt="No image">
                <div class="botones">
                    <button type="submit" class="btn btn-success "><i class="fas fa-redo-alt"></i> Actualizar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteMedicine(medicine._id)"><i class="far fa-trash-alt"></i> Eliminar</button>
                </div>

            </div>
        </form>
    </main>
</ng-template>