<div class="espacio">
</div>
<div class="register">
    <div class="login__formulario animated fadeIn">
        <form (submit)="SignUp()">
            <input type="text" [(ngModel)]="user.username" name="username" placeholder="nombre completo" required>
            <input type="text" [(ngModel)]="user.email" name="email" placeholder="correo electronico" required>
            <input type="password" [(ngModel)]="user.password" name="password" placeholder="contraseña" required>
            <a [routerLink]="['/acceder']">¿Ya tienes una cuenta?</a>
            <a routerLink="/unetenos">¿Quieres trabajar con nosotros?</a>
            <button type="submit">Registrarse</button>
        </form>
    </div>
</div>