.perfil {
    width: 100%;
    height: calc(100vh - 60px);
    background: url('../../../assets/images/perfil.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}