<div class="row" *ngIf="!medicine; else medicine_content">
    <h1>Cargando...</h1>
</div>

<ng-template #medicine_content>

    <main class="main animated fadeIn">

        <h1 class="animated fadeIn">NUEVO MEDICAMENTO</h1>
        <form (submit)="uploadMedicine()">
            <div class="ipnt">
                <mat-form-field appearance="legacy">
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="medicine.name" placeholder="Nombre" required>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Categoria</mat-label>
                    <input matInput type="text" name="category" [(ngModel)]="medicine.category" placeholder="Categoria" required>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Tipo</mat-label>
                    <input matInput type="text" name="type" [(ngModel)]="medicine.type" placeholder="Tipo" required>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Precio</mat-label>
                    <input matInput type="number" name="price" [(ngModel)]="medicine.price" placeholder="S/" required>
                </mat-form-field>
            </div>


            <div class="img">
                <input type="file" class="d-none" name="imgURL" (change)="onMedicineSelected($event)" #photoInput>
                <img [src]="photoSelected || 'assets/images/no-image.png'" alt="No image" (click)="photoInput.click()">
                <button type="submit" class="btn btn-success btn-block">Agregar</button>
            </div>
        </form>
    </main>

</ng-template>