<div class="main animated fadeIn">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Correo Electronico</th>
                <th>Ubicacion</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light" *ngFor="let pharmacy of pharmacys; let i = index">
                <th>{{i + 1}}</th>
                <th>{{pharmacy.name}}</th>
                <th>{{pharmacy.email}}</th>
                <th>{{pharmacy.address}}</th>
                <th>{{pharmacy.roles[0].name}}</th>
                <th>
                    <a href="#">
                        <mat-icon>open_in_new</mat-icon>
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>