<div class="home">
    <div class="search">
        <input type="text" placeholder="Buscar un medicamento..." required>
        <input type="submit">
    </div>
    <div class="result">
        <div class="result__table">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Tipo</th>
                        <th>Farmacia</th>
                        <th>Precio</th>
                        <th>Comprar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>