<main class="main animated fadeIn">
    <div class="users">
        <circle-progress [percent]="100" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [title]="countUser" subtitle="Usuarios" subtitleFontSize="16" [outerStrokeColor]="'#20e4da'" [innerStrokeColor]="'#80e6e0'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <div class="mods">
        <circle-progress [percent]="100" [title]="5" subtitle="Farmacias" subtitleFontSize="16" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#FF6347'" [innerStrokeColor]="'#e49520'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <div class="medicine">
        <circle-progress [percent]="100" [title]="countMedicine" subtitle="Medicamentos" subtitleFontSize="16" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#eef58a'" [innerStrokeColor]="'#f1d1a6'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
</main>