<div class="login">
    <div class="login__formulario animated fadeIn">
        <form (submit)="SignIn()">
            <input type="email" [(ngModel)]="user.email" name="email" placeholder="correo electronico">
            <input type="password" [(ngModel)]="user.password" name="password" placeholder="contraseña">
            <a [routerLink]="['/registro']">¿Aun no tienes una cuenta?</a>
            <button type="submit">Acceder</button>
        </form>
    </div>
</div>


<app-button></app-button>

<!--
    <main class="main animated fadeIn">
        <header>
            <div class="wave">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="content">
                <h1>{{infoPharmacy.name}}</h1>
            </div>
        </header>
    </main>
-->