.home {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

agm-map {
    width: 600px;
    height: 400px;
    margin: auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-icon-button {
    outline: none;
}

.filter {
    width: 800px;
}

.imgURL {
    width: 120px;
}


/*-----------------DOCTOR-----------------*/

.main__img {
    width: 300px;
    position: relative;
}

.main__img .img_animated {
    width: 100%;
    animation: doctor 1s;
    position: relative;
}

@keyframes doctor {
    from {
        opacity: 0;
        transform: translateX(-100%)
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.main__img .dialog {
    position: absolute;
    right: -10px;
    top: -40px;
    width: 200px;
    height: 80px;
    background: #2aaccc;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 200;
    padding: 0;
    margin: 0;
    text-align: center;
    animation: 2s dialog infinite linear;
}

@keyframes dialog {
    0% {
        transform: scale(0.9)
    }
    50% {
        transform: scale(1)
    }
    100% {
        transform: scale(0.9)
    }
}

.main__img .dialog::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -35px;
    left: 25px;
    background: transparent;
    border-top: 20px solid #2aaccc;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.main__img .dialog p {
    margin: 0;
}


/*-----------------TOOLTIP-----------------*/

.tool {
    text-decoration: none;
    position: relative;
}

.tool span {
    display: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: black;
    background: white;
}

.tool span img {
    float: left;
    width: 100%;
    object-fit: cover;
    transform: scale(1.1)
}

.tool:hover span {
    border-radius: 5px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -120px;
    right: 120px;
    z-index: 1000;
    width: auto;
    width: 200px;
    height: 200px;
    margin-top: 12px;
    margin-left: 100px;
    overflow: hidden;
    padding: 1px;
    background: rgba(0, 0, 0, 0);
}


/*-----------------MAPS-----------------*/

.maps {
    width: 100%;
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maps h1 {
    margin: 0;
    text-align: center;
}

.dashButton {
    position: absolute;
    top: 100px;
    left: 40px;
}