<nav color="primary" class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" routerLink="/">MediSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto animated fadeIn">
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon [ngStyle]="{'color': 'white'}">meeting_room</mat-icon>
                  </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>person</mat-icon>
                      <a routerLink="/acceder" routerLinkActive="active">Acceso para usuario</a>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>location_city</mat-icon>
                      <a routerLink="/acceder/empresa" routerLinkActive="active">Acceso para empresas</a>
                    </button>
                </mat-menu>
            </ng-container>

            <ng-template #loggedIn>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/perfil" routerLinkActive="active">
                        <mat-icon>person</mat-icon>
                    </a>

                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/moderador" routerLinkActive="active">Moderador</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" (click)="authService.loggout()">
                        <mat-icon>exit_to_app</mat-icon>
                    </a>
                </li>
            </ng-template>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <mat-icon [ngStyle]="{'color': 'white'}" [matBadge]="cs.numberCart" matBadgeColor="warn" (click)="cs.numberCart = 0">shopping_cart</mat-icon>
                </a>
            </li>
        </ul>

    </div>
</nav>
<!-- 
<li class="nav-item">
    <a class="nav-link" routerLink="/acceder" routerLinkActive="active">Acceder</a>
</li> -->