<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">MediSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Panel Admin</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/acceder" routerLinkActive="active">Acceder</a>
            </li>
        </ul>
    </div>
</nav>