<div class="main animated fadeIn">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Contraseña</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light" *ngFor="let user of Users; let i = index">
                <th>{{i + 1}}</th>
                <th>{{user.username}}</th>
                <th>{{user.email}}</th>
                <th>{{user.roles[0].name}}</th>
                <th>
                    <a>
                        <mat-icon class="bt" color="primary">open_in_new</mat-icon>
                    </a>
                    <a>
                        <mat-icon class="bt" (click)="remove(user._id)" color="warn">delete_outline</mat-icon>
                    </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>