/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.espacio {
    height: 56px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

th::selection,
p::selection {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: none;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #2b3946;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

button,
button:focus,
a {
    outline: none;
}