.main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.mat-stepper-horizontal {
    width: 800px;
    margin: auto;
    background: rgba(0, 0, 0, 0.0);
}

.main form {
    width: 600px;
    margin: auto;
    padding: 10px;
}

mat-form-field,
input {
    width: 80%;
}

.bg {
    position: absolute;
    width: 400px;
    z-index: -1;
    right: 0;
    bottom: 50px;
}

.main .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #40aff0b7;
    z-index: -1;
    clip-path: circle(600px at right 800px);
}


/* .main .circle_right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #40aff0b7;
    z-index: -1;
    clip-path: circle(600px at left 800px);
} */