<div class="main animated fadeIn">
    <img class="bgicon" src="assets/images/ambulange-nobg.gif">
    <form class="form" [formGroup]="UpdateUserInfo" (ngSubmit)="update(UpdateUserInfo.value)">
        <h3>ACTUALIZAR INFORMACIÓN</h3>
        <div class="inputs">
            <div>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="username" type="text" matInput placeholder="Mi Botica..." autocomplete="off">
                        <mat-icon matSuffix>healing</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Correo</mat-label>
                        <input formControlName="email" type="email" matInput placeholder="Correo Electronico" autocomplete="off">
                        <mat-icon matSuffix>alternate_email</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Contraseña</mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Contraseña" autocomplete="off">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                </p>
            </div>
            <div>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Celular</mat-label>
                        <input formControlName="phone" type="number" matInput placeholder="+51 922752910" autocomplete="off">
                        <mat-icon matSuffix>local_phone</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Dirección</mat-label>
                        <input formControlName="address" type="text" matInput placeholder="Calle 201 mz 82a" autocomplete="off">
                        <mat-icon matSuffix>directions</mat-icon>
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field appearance="legacy">
                        <mat-label>Foto de Perfil</mat-label>
                        <input type="text" formControlName="imgURL" matInput placeholder="https://www.miimagen.jpg" autocomplete="off">
                        <mat-icon matSuffix>photo_library</mat-icon>
                    </mat-form-field>
                </p>
            </div>
        </div>
        <button type="button" (click)="getInfo()" [disabled]="UpdateUserInfo.valid" mat-raised-button class="btn-block obtener">Obtener Datos</button>
        <button [disabled]="UpdateUserInfo.invalid" type="submit" mat-raised-button color="primary" class="btn-block">Actualizar</button>
    </form>
</div>