.footer {
    width: 100%;
    height: 60px;
    background: #242A33;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer p {
    margin: 0;
    padding: 0;
}